@{
    ViewBag.Title = "Lag en kravspek";
    Layout = "~/Views/_LayoutPage_dashboard.cshtml";
}
<div class="main-content">
    <div class="container">
        <div class="row">

            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-table"></i>
                        Job101
                    </h3>
                    <h5>
                        <span>
                            Oversikt over job101
                        </span>
                    </h5>
                </div>

                <ul class="list-inline pull-right sparkline-box">

                    <li class="sparkline-row">
                        <button id="open-wizard" class="btn btn-blue">Create new job</button>


                    </li>


                </ul>
            </div>
        </div>
    </div>

    @*<div class="container padded">
            <div class="row">



                <div id="breadcrumbs">
                    <div class="breadcrumb-button blue">
                        <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
                        <span class="breadcrumb-arrow"><span></span></span>
                    </div>


                    <div class="breadcrumb-button">
                        <span class="breadcrumb-label">
                            <i class="icon-beaker"></i> Jobs
                        </span>
                        <span class="breadcrumb-arrow"><span></span></span>
                    </div>


                    <div class="breadcrumb-button">
                        <span class="breadcrumb-label">
                            <i class="icon-table"></i> Job101
                        </span>
                        <span class="breadcrumb-arrow"><span></span></span>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header">
                    <ul class="nav nav-tabs nav-tabs-left">
                        <li class="active"><a href="#data" data-toggle="tab"><i class="icon-home"></i>Data</a></li>
                        <li class=""><a href="#results" data-toggle="tab"><i class="icon-comments-alt"></i> <span>Results</span></a></li>
                        <li class=""><a href="#sensitivity" data-toggle="tab"><i class="icon-cog"></i> <span>Sensitivity</span></a></li>
                        <li class=""><a href="#reports" data-toggle="tab"><i class="icon-cog"></i> <span>Reports</span></a></li>
                    </ul>

                    <div class="title">Settings</div>
                </div>

                <div class="box-content">
                    <div class="tab-content">
                        <div class="tab-pane active" id="data">
                            <ul class="box-list">

                                <li>
                                    Dette er test
                                </li>

                                <li>
                                    tedst2
                                </li>

                                <li>
                                    test 4
                                </li>



                            </ul>
                        </div>

                        <div class="tab-pane" id="results">
                            <ul class="box-list">

                                <li>
                                    Dette er test
                                </li>

                                <li>
                                    tedst2
                                </li>

                                <li>
                                    test 4
                                </li>



                            </ul>
                        </div>

                        <div class="tab-pane " id="sensitivity">
                            <ul class="box-list">

                                <li>
                                    Dette er test
                                </li>

                                <li>
                                    tedst2
                                </li>

                                <li>
                                    test 4
                                </li>



                            </ul>

                        </div>
                    </div>

                    <div class="box-footer padded">
                        <span class="pull-right">
                            <a href="#" class="btn btn-blue btn-sm">Save</a>
                            <a href="#" class="btn btn-default btn-sm">Cancel</a>
                        </span>
                    </div>
                </div>

            </div>
        </div>
        </div>
</div>
</div>