@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}
       


<section class="scroll-section work block" id="work">
    <div class="container" >
       
        
        <div class="col-lg-7">

            <h2>Lag en kravspek</h2>
            <p>Før man lager en hjemmeside er det lurt å ha tenkt igjennom hva man ønsker å formidle til markedet.</p>
            <h3>Målgruppen</h3>
            <p>
                Tenk først på hvem du prøver å nå. ER det allerede eksisterende kunder eller er det til potensielle nye kunder. Som regel er det en kombinasjon av begge og det er derfor viktig å tenke på begge målgruppene når man lager en side.
                CMS system eller kode
                CMS er et system som lar deg administrere innhold på siden. Vi tilbyr kundene våre hjemmesider i de fleste cms systemer. Vi anbefaler å bruke Wordpress som er den mest populære. Eller så har vi mye erfaring innen vanlig kode, til mer avanserte sider som eventuelt skal ha moduler etc.
            </p>

            <h3>Eksempler på sider</h3>
            <p>
                Her er det en liste over sider som kan være aktuelle for deg. Når du velger sider er det viktig å tenke på hvor mye du ønsker i ettertid å holde på med hjemmesiden. En blog må oppdateres ofte, produkter må legges inn. Tenk på hvor mye arbeid dette eventuelt vil medføre for forfatteren og administrator.
            </p>

            <ul class="sider-liste">
                <li>Kontakt oss</li>
                <li>Hjem</li>
                <li>Om oss / ansatte</li>
                <li>Hva vi gjør</li>
                <li>Produkter/tjenester/priser</li>
                <li>Aktuelt/blog</li>
                <li>Partnere</li>
                <li>Karrieresider</li>

                <li>Bildegalleri</li>
                <li>Portfolio</li>
                <li>Presentasjoner</li>
                <li>Videoer</li>
            </ul>

            <h3>Layout</h3>
            <p>
                Layout er mønsteret du ønsker siden skal ha. Hvor skal meny, logo, tekst og elementer som ikke endres når man skifter side være. Med andre ord rammen rundt innholdet som skiftes. Layouten bestemmer mye av strukturen I en side. Dette er veldig viktig å få klargjort tidlig i prosessen, for dette vil være grunnmuren i siden. Det er ekstra jobb og endre dette i ettertid. Derfor lager vi et utkast på layout tidlig. Noen kunder ønsker å ha stor innflytelse på valg av layout, andre gir oppgaven til oss.
            </p>


            <h3>Oppfatning</h3>
            <p>
                Sidens utseende kan ha mye å se på hvordan man blir oppfattet. Er man et konservativt firma eller spiller dere på kunstneriske egenskaper. Ønsker dere å skille dere ut eller vil dere bare informere og blende inn i mengden.
            </p> <h3>Farger og former</h3>
            <p>
                Ta gjerne med logoer og eventuelt andre farger som dere mener representerer deres bedrift. Vi tilbyr også å lage logoer og kan hjelpe til med fargevalget. Dette er ting som ikke haster, men ha gjerne klar om man ønsker spreke farger eller duse. Her er en link under til inspirasjon for hvordan man kan bruke farger og former.
                <a target="_blank" href="http://responsivewebinc.com/bootstrap-themes/"> http://responsivewebinc.com/bootstrap-themes/</a> 
            </p>


            <h3>Diverse funksjoner</h3><p>Søk
            •	Submeny
            •	Footer
            •	Banner
            •	Link til sosiale medier
            </p>
           

        </div>

        <div class="col-lg-5">
            <img class="img-responsive" src="~/Content/images/kravspek.png"  alt="Kravspec"/>
        </div>
</section>




 