@{
    ViewBag.Title = "Arkiv";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<!--Work-->
<section class="scroll-section work block" id="work">
    <div class="container">
        <h2>Portfolio</h2>
        <!--Featured item-->
        <section class="flexslider-wrapper">
            <div class="flexslider" id="full-view" data-slidernav="#work-items"  data-transition="slide">
                <div class="slides">

                    <div class="slide row" data-thumb="~/Content/img/showcase/thumbs/project1.jpg">
                        <div class="col-md-8"><img src="~/Content/images/portfol2.png" alt="Project image" class="img-responsive" /></div>
                        <div class="col-md-4">
                            <h3 class="title">Gunaxi</h3>
                            <p>Her lagde jeg en wordpresside. Kunden ønsket en responsive nettside, og hadde ganske klare linjer på hvordan han ville ha det. Enkelte data åpnes i et modalt vindu, som også er responsivt. Jeg ble ferdig med prosjektet i august 2013.</p>
                            <a href="http://www.guanxi.no" target="_blank"  class="btn btn-primary">View Online <i class="icon-globe"></i></a>
                        </div>
                    </div>

                    <div class="slide row" data-thumb="~/Content/images/portfol1.png">
                        <div class="col-md-8"><img src="~/Content/images/portfol1.png" alt="Project image" class="img-responsive" /></div>
                        <div class="col-md-4">
                            <h3 class="title">Project Name</h3>
                            <p>Nettsiden til Anleggsgartner Ingvar Jonassen er laget fra bunnen av. Kunden hadde ikke behov for aktuelt eller noen form for editeringsmuligheter. Her var det viktig å få frem god navigering frem til produktene. Siden skulle være oversiktelig og stilren. Siden er under utvikling.</p>
                            <a href="http://ingvarjonassen.azurewebsites.net" target="_blank" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
                        </div>
                    </div>

                    <div class="slide row" data-thumb="~/Content/img/showcase/thumbs/project3.jpg">
                        <div class="col-md-8"><img src="~/Content/images/portfol3.png" alt="Project image" class="img-responsive" /></div>
                        <div class="col-md-4">
                            <h3 class="title">Project Name</h3>
                            <p>Hjemmesiden til Molde UVK er lagd i wordpress og er responsiv. Jeg kommer til å bruke en plug-in som gjør det mulig å hente bildegalleri fra Facebook. På denne måten slipper man å oppdatere bilder og kommentarer to steder. Siden er under utvikling</p>
                            <a href="http://moldeuvk.azurewebsites.net" target="_blank" class="btn btn-primary">View Online <i class="icon-globe"></i></a>
                        </div>
                    </div>

                   
                </div>
            </div>

            <!--Projects pager-->
            <ul class="items" id="work-items">
                <li class="item pull-center">
                    <a href="~/Content/img/showcase/full/project1_large.jpg">
                        <img src="~/Content/images/mini-1.png" alt="Project 1 image"  title="Click to view details" />
                    </a>
                </li>
                <li class="item pull-center">
                    <a href="~/Content/img/showcase/full/project2_large.jpg">
                        <img src="~/Content/images/mini-2.png" alt="Project 2 image" title="Click to view details" />
                    </a>
                </li>
                <li class="item pull-center">
                    <a href="~/Content/img/showcase/full/project3_large.jpg">
                        <img src="~/Content/images/mini-3.png" alt="Project 3 image" title="Click to view details" />
                    </a>
                </li>
                @*<li class="item pull-center">
                    <a href="~/Content/img/showcase/full/project4_large.jpg">
                        <img src="~/Content/img/showcase/thumbs/project4.jpg" alt="Project 4 image" title="Click to view details" />
                    </a>
                </li>
                <li class="item pull-center">
                    <a href="~/Content/img/showcase/full/project5_large.jpg">
                        <img src="~/Content/img/showcase/thumbs/project5.jpg" alt="Project 5 image" title="Click to view details" />
                    </a>
                </li>
                <li class="item pull-center">
                    <a href="~/Content/img/showcase/full/project6_large.jpg">
                        <img src="~/Content/img/showcase/thumbs/project6.jpg" alt="Project 6 image" title="Click to view details" />
                    </a>
                </li>
                <li class="item pull-center">
                    <a href="~/Content/img/showcase/full/project7_large.jpg">
                        <img src="~/Content/img/showcase/thumbs/project7.jpg" alt="Project 7 image" title="Click to view details" />
                    </a>
                </li>
                <li class="item pull-center">
                    <a href="~/Content/img/showcase/full/project8_large.jpg">
                        <img src="~/Content/img/showcase/thumbs/project8.jpg" alt="Project 8 image" title="Click to view details" />
                    </a>
                </li>*@
        

            </ul>
        </section>
    </div>
</section>



