@{
    ViewBag.Title = "Lag en kravspek";
    Layout = "~/Views/_LayoutPage_Arbeidsform.cshtml";
}

<div class="col-md-9">
    <h2 class="title-divider"><span>Prosjektbeskrivelse</span> <small>What &amp; who makes us tick!</small></h2>

    <!-- About company -->
    <h4>How It All Began</h4>
    <p>Elit pellentesque dolor facilisis aenean eu tempor, phasellus lundium risus dolor, augue, ridiculus nascetur odio ridiculus? Hac ac, adipiscing ut dapibus. Adipiscing cras in? Magna nisi augue odio! Pellentesque magnis? Lacus integer magnis purus sed mus lorem aliquam lectus, placerat pellentesque quis, nunc urna turpis lorem. Etiam velit, augue sed magnis placerat! In cras, dignissim lorem, porttitor in velit in, nisi vut a cursus cum, odio sagittis nisi turpis? Mus penatibus non, pulvinar porttitor arcu hac ut et ac integer? Ultricies est etiam sit. Urna ridiculus facilisis pulvinar, ultrices augue? Parturient velit non tincidunt sit sagittis pulvinar phasellus rhoncus hac! Sit porta. Tristique, hac. Porttitor adipiscing ac. Ac tincidunt a porttitor natoque auctor ultricies! Proin nunc scelerisque? Habitasse adipiscing? Cursus.</p>

    <ul class="timeline">
        <!--Year 1 - 2013-->
        <li>
            <h3 class="timeline-breaker">Start</h3>
            <ul>
                <li class="timeline-item highlight">
                    <!--Images require class="timeline-item-photo", to float right add right class="timeline-item-photo right"-->
                    <img src="img/timeline/photo5.png" class="timeline-item-photo img-bg-primary img-responsive" alt="timeline photo">
                    <h4 class="timeline-item-date">Impl</h4>
                    <h5 class="timeline-item-role">Senior developer Choco Media</h5>
                    <p class="timeline-item-description">Dis dis. Turpis cras platea scelerisque ultricies turpis amet tincidunt penatibus vel? Cum tortor! Porttitor pellentesque urna lectus, magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
                </li>

                <li class="timeline-item right">
                    <!--Images require class="timeline-item-photo", to float right add right class="timeline-item-photo right"-->
                    <img src="img/timeline/photo2.png" class="timeline-item-photo right img-bg-primary-light img-responsive" alt="timeline photo">
                    <h4 class="timeline-item-date">April 2013 - June 2013</h4>
                    <h5 class="timeline-item-role">Technical LeadChimp Productions</h5>
                    <p class="timeline-item-description">Dis dis. Turpis cras platea scelerisque ultricies turpis amet tincidunt penatibus vel? Cum tortor! Porttitor pellentesque urna lectus!</p>
                    <a href="#" class="btn btn-xs btn-primary-light btn-square">View Project</a>
                </li>

                <li class="timeline-item">
                    <!--Images require class="timeline-item-photo", to float right add right class="timeline-item-photo right"-->
                    <img src="img/timeline/photo3.png" class="timeline-item-photo img-bg-primary img-responsive" alt="timeline photo">
                    <h4 class="timeline-item-date">March 2013 - April 2013</h4>
                    <h5 class="timeline-item-role">Druapl Consultant, freelance</h5>
                    <p class="timeline-item-description">Dis dis. Turpis cras platea scelerisque ultricies turpis amet tincidunt penatibus vel? Cum tortor! Porttitor pellentesque urna lectus, magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
                </li>

                <li class="timeline-item right highlight">
                    <!--Images require class="timeline-item-photo", to float right add right class="timeline-item-photo right"-->
                    <img src="img/timeline/photo6.png" class="timeline-item-photo right img-responsive" alt="timeline photo">
                    <h4 class="timeline-item-date">January 2013 - present</h4>
                    <h5 class="timeline-item-role">Founder of Themelize.me</h5>
                    <p class="timeline-item-description">Dis dis. Turpis cras platea scelerisque ultricies turpis amet tincidunt penatibus vel? Cum tortor! Porttitor pellentesque urna lectus, magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
                </li>

                <li class="timeline-item">
                    <h4 class="timeline-item-date">Throughout 2013 - present</h4>
                    <h5 class="timeline-item-role">Creative Consultant, Freelance</h5>
                    <a href="#" class="btn btn-xs btn-primary-light btn-square">View Related Projects</a>
                </li>
            </ul>
        </li>

        <!--Year 2 - 2012-->
        <li>
            <h3 class="timeline-breaker">2012</h3>
            <ul>
                <li class="timeline-item">
                    <!--Images require class="timeline-item-photo", to float right add right class="timeline-item-photo right"-->
                    <img src="img/timeline/photo5.png" class="timeline-item-photo right img-bg-primary img-responsive" alt="timeline photo">
                    <h4 class="timeline-item-date">June 2013 - present</h4>
                    <h5 class="timeline-item-role">Senior developer  Choco Media</h5>
                    <p class="timeline-item-description">Dis dis. Turpis cras platea scelerisque ultricies turpis amet tincidunt penatibus vel? Cum tortor! Porttitor pellentesque urna lectus, magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
                </li>

                <li class="timeline-item right">
                    <h4 class="timeline-item-date">April 2013 - June 2013</h4>
                    <h5 class="timeline-item-role">Technical Lead Chimp Productions</h5>
                    <p class="timeline-item-description">Porttitor pellentesque urna lectus!</p>
                </li>

                <li class="timeline-item overlap-off">
                    <h4 class="timeline-item-date">March 2013 - April 2013</h4>
                    <h5 class="timeline-item-role">Druapl Consultant, freelance</h5>
                    <p class="timeline-item-description">Magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
                </li>

                <li class="timeline-item right">
                    <h4 class="timeline-item-date">July 2012 - May 2013</h4>
                    <h5 class="timeline-item-role">Frontend Consultant</h5>
                    <p class="timeline-item-description">Porttitor pellentesque urna lectus, magna, urna, elit augue elementum. Aenean facilisis augue, magna, pulvinar!</p>
                </li>
            </ul>
        </li>

        <!--Timeline end block-->
        <li class="timeline-end">
            <h5 class="timeline-breaker">Want to know more?</h5>
            <a href="#contact" class="btn btn-lg btn-primary-light btn-square"><i class="icon-envelope"></i> Contact Me</a> <a href="#contact" class="btn btn-lg btn-primary btn-square"><i class="icon-download-alt"></i> Download CV</a>
        </li>
    </ul>








    <h4>Our Philosophy</h4>
    <p>Elit pellentesque dolor facilisis aenean eu tempor, phasellus lundium risus dolor, augue, ridiculus nascetur odio ridiculus? Hac ac, adipiscing ut dapibus. Adipiscing cras in? Magna nisi augue odio! Pellentesque magnis? Lacus integer magnis purus sed mus lorem aliquam lectus, placerat pellentesque quis, nunc urna turpis lorem. Etiam velit, augue sed magnis placerat! In cras, dignissim lorem, porttitor in velit in, nisi vut a cursus cum, odio sagittis nisi turpis? Mus penatibus non, pulvinar porttitor arcu hac ut et ac integer? Ultricies est etiam sit. Urna ridiculus facilisis pulvinar, ultrices augue? Parturient velit non tincidunt sit sagittis pulvinar phasellus rhoncus hac! Sit porta. Tristique, hac. Porttitor adipiscing ac. Ac tincidunt a porttitor natoque auctor ultricies! Proin nunc scelerisque? Habitasse adipiscing? Cursus.</p>
    <p>Elit pellentesque dolor facilisis aenean eu tempor, phasellus lundium risus dolor, augue, ridiculus nascetur odio ridiculus? Hac ac, adipiscing ut dapibus. Adipiscing cras in? Magna nisi augue odio! Pellentesque magnis? Lacus integer magnis purus sed mus lorem aliquam lectus, placerat pellentesque quis, nunc urna turpis lorem. Etiam velit, augue sed magnis placerat! In cras, dignissim lorem, porttitor in velit in, nisi vut a cursus cum, odio sagittis nisi turpis? Mus penatibus non, pulvinar porttitor arcu hac ut et ac integer? Ultricies est etiam sit. Urna ridiculus facilisis pulvinar, ultrices augue? Parturient velit non tincidunt sit sagittis pulvinar phasellus rhoncus hac! Sit porta. Tristique, hac. Porttitor adipiscing ac. Ac tincidunt a porttitor natoque auctor ultricies! Proin nunc scelerisque? Habitasse adipiscing? Cursus.</p>
    <div class="title-divider" id="stats">
        <h3><span>Vital <span class="de-em">Stats</span></span> <small>Stats to impress!</small></h3>
    </div>
    <div class="row stats">
        <div class="col-md-3 stat">
            <div class="well">1280</div>
            <small>Happpy Customers</small>
        </div>
        <div class="col-md-3 stat">
            <div class="well">1634</div>
            <small>GB Transfered</small>
        </div>
        <div class="col-md-3 stat">
            <div class="well">2143</div>
            <small>Bugs Fixed</small>
        </div>
        <div class="col-md-3 stat">
            <div class="well">12</div>
            <small>Share Holders</small>
        </div>
    </div>

    <!--Customer testimonial-->
    <div class="block testimonials margin-top-large margin-bottom-large" id="testimonials">
        <h3 class="title-divider"><span>Highly <span class="de-em">Recommended</span></span> <small>99% of our customers recommend us!</small></h3>
        <div class="row">
            <div class="col-md-4">
                <blockquote>
                    <p>"It's totally awesome, we're could imagine life without it!"</p>
                    <small><img src="img/team/jimi.jpg" alt="Jimi Bloggs" class="img-circle"> Jimi Bloggs <span class="spacer">/</span> <a href="#">mrjimi</a></small>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote>
                    <p>"10 out of 10, highly recommended!"</p>
                    <small><img src="img/team/jobs.jpg" alt="Jimi Bloggs" class="img-circle"> Steve Bloggs <span class="spacer">/</span> <a href="#">Founder of Apple</a></small>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote>
                    <p>"Our productivity &amp; sales are up! Couldn't be happier!"</p>
                    <small><img src="img/team/adele.jpg" alt="Adele Bloggs" class="img-circle"> Adele Bloggs <span class="spacer">/</span> <a href="#">iamadele</a></small>
                </blockquote>
            </div>
        </div>
    </div>
</div> 