@{
    ViewBag.Title = "Prisliste";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<section class="work container">


    <div class="block">



        <div class="col-lg-7">
            
            

            <h3>Oppdatering av allerede eksisterende sider</h3>
            <p>
                Til de kundene som allerede har en hjemmeside, kan vi i noen tilfeller tilby styling og omgjøring til en responsiv side. Dette har forutsettning av at all kode og tilgang er på plass.

            </p>

<h3>Skreddersydde websider</h3>
            <p>
                Basert på ren kode, der kundene ikke har noen kontroll når sluttproduktet kommer ut. Er fint når det kommer til statiske sider som ikke trenger dataoppdatering så ofte. Her har vi support om de ønsker å endre eller legge til noe på siden.

            </p>


            <h3>Wordpress websider</h3>
            <p>
                Til kunder som ønsker full kontroll, tilbyr vi CMS systemet wordpress. Vi er også åpne for andre typer cms, så lenge det er i samsvar med tid og pris

            </p>

            <h3>Complex-cms</h3>
            <p>
                Et light cms vi ønsker å utvikle til våre kunder. Systemet gjør det mulig for kundene å editere tekst, title og bilder. Det vil også bli mulig å lage bloggposter. Strukturen er fast, noe som gjør det vanskelig for kunden å gjøre feil.

            </p>
</div>



        @*<div class="col-lg-6">
            <h3>
                Prisliste
            </h3>
            <h3>Wordpress</h3>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <th>Lyout</th>
                        <td>1000,-</td>
                        <td>Varierer i pris på innholdet</td>

                    </tr>
                    <tr>
                        <th>Responsivt</th>
                        <td>5000,-</td>
                        <td>Passer til alle enheter</td>
                    </tr>
                    <tr>
                        <th>Plugin som må endres mye i CSS</th>
                        <td>700,-</td>
                        <td>-</td>

                    </tr>
                    <tr>
                        <th>Plugin som må endres i struktur</th>
                        <td>1400,-</td>
                        <td>-</td>
                    </tr>

                </tbody>
            </table>

            <h3>Kode</h3>
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <th>Pris pr side</th>
                        <td>1000,-</td>
                        <td>Varierer i pris på innholdet</td>

                    </tr>
                    <tr>
                        <th>Responsivt</th>
                        <td>5000,-</td>
                        <td>Passer til alle enheter</td>
                    </tr>
                    <tr>
                        <th>Funskjoner som krever mye Java Script</th>
                        <td>700,-</td>
                        <td>-</td>

                    </tr>


                </tbody>
            </table>

            <h3>Diverse</h3>
            <table class="table table-bordered">

                <tbody>

                    <tr>
                        <th>Logo</th>
                        <td>3000,-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th>Tutorials video</th>
                        <td>1500,-</td>
                        <td>Er det mange som skal ha tilgang til det administrative på siden, kan jeg lage video som forklarer det grunnlegende.</td>
                    </tr>
                </tbody>
            </table>
        </div>*@
    </div >

    <div class="col-lg-5">
        <img class="img-responsive" src="~/Content/images/tjenester.png" alt="Tjenester" />
    </div>
</section>
    

  
    

    
